page-home {

.homecontent ion-grid ion-row ion-col {
    text-align: center;
    background:  #E4E4E4 ;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 1%;
    max-width: 48%;
    flex: 0 0 48%;
    min-height: 80px;
    //text-shadow: 0 7px #00C1BB;
    
}

.grid {
    border: 1px solid #000000;
    border-radius: 7px;
    box-shadow: 10px 10px 5px #888888;
}

.grid h4 {
    text-align: center;
}

//CENTRE IMAGES 
.grid ion-row ion-col img {
    align-self: center;
}



}

